* text=auto

*.c text eol=lf
*.cc text eol=lf
*.cpp text eol=lf
*.cxx text eol=lf
*.h text eol=lf
*.hh text eol=lf
*.hpp text eol=lf
*.hxx text eol=lf
*.inl text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.cmake text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.py text eol=lf
*.natvis text eol=lf
*.props text eol=lf
*.targets text eol=lf
*.vcxproj text eol=lf
*.filters text eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf
*.ini text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.zip binary
*.7z binary
*.exe binary
*.lib binary
*.obj binary
*.pdb binary
